/*

This stylesheet in use from 11 August 2025 onwards.

*/

@font-face {
  font-family: "Inter Alia";
  src: url("./fonts/InterAlia-VF.otf");
}

@font-face {
  font-family: "Fondation Mono";
  src: url("./fonts/FondationMono.otf");
}

body {
  background-color: #202020;
  color: #ffffff;
  font-family: "Inter Alia";
  margin: 16px;
}

p, label, li {
  font-size: 18px;
  margin: 0;
}

h1 {
  font-size: 32px;
  margin: 0 0 8px 0;
}

h2 {
  font-size: 20px;
  margin: 0;
}

a {
  color: #bbddcc;
  transition: 0.1s;
}

a:hover {
  color: #66ccaa;
}

pre {
  font-family: "Fondation Mono", monospace, sans-serif;
  font-size: 20px;
  background-color: #1b1b1b;
  padding: 8px;
}

input, select {
  background-color: #404040;
  color: #ffffff;
  font-family: inherit;
  font-size: 24px;
  margin: 4px;
}

textarea {
  background-color: #404040;
  color: #ffffff;
  font-family: inherit;
  font-size: 24px;
  width: 95%;
  height: 200px;
}

button {
  background-color: #404040;
  color: #ffffff;
  font-family: inherit;
  font-size: 24px;
  margin: 4px;
}

hr {
  border-color: #505060;
  height: 2px;
  border: 0;
  margin: 24px 0px;
}

.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  background-color: #303030;
  
  max-width: 600px;
  margin: 4px auto;
  padding: 16px;
}

.centered-text {
  text-align: center;
}

.hidden {
  display: none;
}

.code {
  font-family: "Fondation Mono", monospace, sans-serif;
}

.checkbox {
  transform: scale(1.5);
}