table, tr {
  border-collapse: collapse;
}

td {
  border: 1px solid #ffffff80;
  border-collapse: collapse;
}

td > h3 {
  margin: 0;
}

td > p {
  font-family: monospace;
  margin: 0;
}

table {
  table-layout: fixed;
}

tr {
  display: flex;
}

td {
  min-width: 2em;
  flex: 1;
  padding: 5px;
  text-align: center;
  
  background-color: #282828;
}